<div class="px-8 py-4">
  <div class="bg-[#33004A] px-8 py-4 rounded-md text-white">

    <!-- Title -->
    <div class="flex flex-col items-center">

      <div
        class="shadow-sm flex items-center justify-center rounded-md bg-[#066E97] h-20 w-20">

        <span class="text-8xl material-symbols-outlined select-none">
            gif
        </span>

      </div>

      <h1 class="text-white text-4xl md:text-6xl font-bold"
      >GIFS APP
      </h1>

    </div>

    <!-- Description -->
    <p class="text-xl text-center"> A simple app to load gifs </p>
    <!-- Tutorial -->
    <h1 class="text-2xl md:text-4xl font-medium mt-2">1. How to use</h1>
    <hr class="my-2">
      <p class="px-2">
        Go to search page or use top search box and write a topic about the gif, then
        8 gifs will should be loaded. There's a sidebar you can toggle and it'll show
        your ten most recent searches, you can click them to load them again easily.
      </p>

    <h1 class="text-2xl md:text-4xl font-medium mt-2">2. What's next?</h1>
    <hr class="my-2">
      <p class="px-2">
        This goal of this app is really simple. I built it to get my hands
        on Angular Framework. In the future I'll refine it more, adding use cases
        such as:
      </p>
      <ol class="list-decimal px-8 font-medium">
        <li>Top 10 popular gifs</li>
        <li>Gifs links</li>
        <li>Better card design</li>
        <li>More gif info</li>
        <li>And more ideas when they come...</li>
      </ol>
      <p class="px-2">
        Any suggestions or critics are welcome.
      </p>

  </div>

</div>
