<div class="
  w-full h-50
  bg-[#33004A]
  shadow-md
  z-50
  flex items-center justify-between p-2 gap-2">

  <div class="cursor-pointer px-1 py-0" (click)="sidebarClick()">

      <span class="text-3xl font-light text-white material-symbols-outlined select-none">
        menu
      </span>

  </div>

  <div
  class="shadow-sm flex items-center justify-center rounded-md bg-[#066E97] h-10 w-10">

    <a routerLink="/">

      <span class="text-4xl text-white material-symbols-outlined select-none">
          gif
      </span>

    </a>

  </div>

  <shared-search-box class="flex-1 "></shared-search-box>

</div>
